node_modules
out
*.log*
unpackage
resources/lib/current.html
resources/lib/current.json
.env
electron.vite.config.*.mjs
mdparser/index.js
dist
web
build/bluestone.provisionprofile
build/masDev.provisionprofile
build/entitlements.mas.inherit.plist
build/entitlements.mas.plist
build/entitlements.mas.loginhelper.plist
src/renderer/src/share
mas-builder.yml
src/main/auth.ts
src/renderer/src/editor/parser/worker/bundle.js
.DS_Store
