# electron_mirror=https://npmmirror.com/mirrors/electron/
# electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
# shamefully-hoist=true

# proxy=http://127.0.0.1:7890
# https-proxy=http://127.0.0.1:7890
# proxy=socks5://127.0.0.1:7891