.ace-cloud_editor, .ace-cloud_editor_dark{
  background: none !important;
}
.ace_gutter {
  background: none !important;
}
.cloud_editor_dark {
  background: none !important;
}
.ace_indent-guide-active {
  background: none !important;
}
.ace_focus{
  .ace_gutter-cell  {
    @apply text-black/60 dark:text-white/60;
    &.ace_gutter-active-line {
      @apply text-black/90 dark:text-white/90;
    }
  }
  .ace_active-line{
    @apply bg-gray-600/5 rounded-sm dark:bg-white/5;
  }
}
.cloud_editor_dark .ace_marker-layer .ace_active-line {
  background: none;
}
.ace_focus.cloud_editor_dark .ace_marker-layer .ace_active-line {
  @apply bg-gray-600/5 rounded-sm dark:bg-white/5;
}
.ace_cursor {
  height: 16px !important;
  position: relative;
  top: 3px;
}
.ace_gutter-cell {
  @apply text-black/60 dark:text-white/60;
  background: none !important;
}
.ace_gutter-active-line, .ace_active-line {
  border: none !important;
}
.ace-tm{
  background: none !important;
}
.ace-el{
  padding: 2px 0;
  position: relative;
  margin-bottom: 0.5em;
}
.ace-container {
  @apply border border-black/10 dark:border-gray-200/10 pt-8 pb-2 rounded relative;
  margin-bottom: 0.5em;
  &.frontmatter {
    &:before {
      top: 3px;
      content: 'Front Matter';
      width: 100%;
      height: 22px;
      line-height: 21px;
      position: absolute;
      z-index: 10;
      left: 0;
      padding-left: 10px;
      font-size: 12px;
      @apply dark:text-white/60 text-black/60;
    }
  }
}
.ace_hidden-cursors {
  display: none !important;
}
.match-text, .match-current {
  position: absolute;
  width: auto;
}

.match-text{
  @apply bg-black/15 dark:bg-white/15 rounded-sm;
}

.match-current{
  @apply bg-sky-500 rounded-sm;
}
