@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animate-hide {
  animation: hide 0.2s forwards ease;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-show {
  animation: show 0.2s forwards ease;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-blink {
  animation: blink 1s infinite ease-in-out;
}
