:root {
  --primary-bg-color: #1b1c1d;
}
.dark {
  color-scheme: dark;
  --primary-bg-color: #1b1c1d;
  --side-panel-bg-color: #282a2c;
  --chat-user-message-bg-color: #333537;
  ::selection {
    background-color: rgba(74, 144, 226, 0.3) !important;
    color: rgba(255, 255, 255, 0.95);
  }
}

.primary-bg-color {
  background-color: var(--primary-bg-color);
}
