:root{
  --bg: #fff;
  --nav: #fff;
  --tab: #fafafa;
  --b1: rgb(229 231 235 / 0.8);
  --md-text: rgb(55, 53, 47);
  --tree-bg: #fafafa;
  --md-code-bg: #2a2929;
  --md-bg-mute: rgba(23, 23, 23, .07);
  --md-high: rgba(141, 141, 141, 0.5);
  --md-border: #b9b9b9;
  --card-bg: #fff;
}
.dark{
  --bg: #191919;
  --nav: #191919;
  --tab: #191919;
  --b1: rgb(229 231 235 / 0.1);
  --md-text: rgba(255, 255, 255, 0.82);
  --tree-bg: #1E1E1E;
  --card-bg: #1E1E1E;
  --md-code-bg: #1c1c1c;
  --md-bg-mute: rgba(255, 255, 255, .07);
  --md-high: rgba(255, 255, 255, .2);
  --md-border: #3f3f46;
}

html.dark{
  color-scheme: dark;
}

.code-bg{
  background: var(--md-code-bg);
}
.def-bg{
  background: var(--bg);
}
.card-bg{
  background: var(--card-bg);
}
.tree-bg{
  background: var(--tree-bg);
}
.nav{
  background: var(--nav);
}
.b1{
  border-color: var(--b1);
}
.b2{
  @apply border-gray-200 dark:border-gray-200/10;
}

.md-text{
  color: var(--md-text);
}
html{
  background: var(--bg);
}

.input{
  @apply outline-none dark:text-gray-300 text-gray-600 text-sm dark:bg-zinc-900 bg-white
  h-7 rounded pr-2 border dark:border-zinc-700 border-gray-500/50 dark:focus:border-zinc-500 focus:border-gray-500/80 duration-200;
}

.high-block{
  animation: high .3s .1s forwards;
  @apply rounded-sm;
}

@keyframes high {
  from {
    background: rgba(59, 131, 246, 0);
  }

  to {
    background: rgba(59, 131, 246, 0.5);
  }
}
.panel-bg{
  @apply dark:bg-[rgba(35,35,35,0.95)] bg-white/95 backdrop-blur;
}
.modal-panel{
  @extend .modal-border, .panel-bg;
  @apply border rounded-xl shadow-lg shadow-gray-400/80 dark:shadow-gray-600/5;
}

.tools-panel{
  @apply rounded-lg dark:bg-[rgba(35,35,35,.95)] dark:text-gray-200 overflow-y-auto bg-white/95 text-gray-600 select-none
  backdrop-blur-lg shadow-lg shadow-gray-200/70 dark:shadow-gray-600/10 border dark:border-gray-200/10 border-gray-200;
  max-height: calc(100vh - 100px);
}
.context-menu {
  @extend .panel-bg;
  @apply absolute p-1 rounded-lg
   border border-gray-200 dark:border-gray-200/20 text-[13px];
}

.modal-border{
  @apply dark:border-gray-200/20 border-transparent;
}

.float-bar-icon{
  @apply dark:hover:text-gray-200 dark:hover:bg-gray-200/10 hover:bg-gray-200/50 hover:text-gray-600 cursor-default;
}

.float-color-icon{
  @apply w-5 h-5 rounded border border-white/10 hover:border-white/50;
}
.ant-btn-primary {
  &:not([disabled],.ant-btn-dangerous) {
    background-color: #6366f1 !important;
    &:hover{
      background-color: #6d6fec !important;
    }
  }
}
