@import "color";
@import "tailwind";
:root {
  --md-text-code: #c9def1;
  --md-link: #38bdf8;
  --md-link-hover: #6366f1;
  --md-c-info-b: #475569;
  --md-c-waring-b: #d97706;
  --md-c-tip-b: #047857;
  --md-c-danger-b: #dc2626;
  --md-bg-alt: #101010;
  --md-pure: black;
  --shadow: rgba(0, 0, 0, .3);
  --md-high-line: rgba(11, 18, 24, .5);
}

body{
  text-rendering: optimizeLegibility;
  direction: ltr;
}
.font-system {
  font-family: -apple-system, system-ui,ui-sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.font-lucida {
  font-family: "lucida grande", "lucida sans unicode", lucida;
}
.font-helvetica{
  font-family: "Helvetica Neue";
}
.font-hiragino-sans-gb {
  font-family: "Hiragino Sans GB";
}
.font-heiti-sc{
  font-family: "Heiti SC";
}
.font-times-new-roman {
  font-family: "Times New Roman";
}
.font-pingfang-sc {
  font-family: "PingFang SC";
}
.font-microsoft-yahei {
  font-family: "Microsoft Yahei";
}
.font-tahoma {
  font-family: Tahoma;
}
.font-simsun{
  font-family: SimSun;
}
.font-arial {
  font-family: Arial;
}
.font-verdana {
  font-family: Verdana;
}
a {
  text-decoration: none;
}
.pdf [data-slate-editor] > h1:first-child{
  @apply border-b dark:border-gray-200/10 border-gray-200;
}
.edit-area{
  padding-bottom: 160px;
  min-height: calc(100vh - 40px);
  outline: none !important;
  > h1:first-child {
    @apply border-b dark:border-gray-200/10 border-gray-200;
  }
}
.page-title{
  font-size: 2em;
  @apply w-full h-14 bg-transparent outline-none font-bold placeholder-gray-400 dark:placeholder-gray-300/30 border-b dark:border-gray-200/10 border-gray-200 mb-4;
}
.edit-area {
  >h1[data-empty]:first-child {
    &:before{
      position: absolute;
      left: 0;
      top:0;
      content: 'Untitled';
      animation: none;
      opacity: 1;
      display: block;
      @apply text-gray-300 dark:text-gray-300/20;
    }
  }
  &.focus{
    [data-empty]{
      &:before{
        position: absolute;
        left: 0;
        top:0;
        display: block;
        @apply text-gray-400 dark:text-gray-300/30 cursor-text;
        content: "Press '/' for quick actions";
      }
    }
    [data-be="list-item"] > :first-child[data-empty] {
      &:before {
        cursor: text;
        content: "Enter content";
      }
    }
    [data-be="list-item"].task > :nth-child(2)[data-empty] {
      &:before {
        cursor: text;
        content: "Enter content";
      }
    }
    h1:not(:first-child)[data-empty]::before{
      cursor: text;
      content: "Heading 1";
    }
    h2[data-empty]::before{
      cursor: text;
      content: "Heading 2";
    }
    h3[data-empty]::before{
      cursor: text;
      content: "Heading 3";
    }
    h4[data-empty]::before{
      cursor: text;
      content: "Heading 4";
    }
    h5[data-empty]::before{
      cursor: text;
      content: "Heading 5";
    }
  }
  [data-empty] {
    &:before {
      display: none;
    }
  }
}

.edit-area {
  >:first-child{
    margin-top: 0;
  }
  &.top {
    >:first-child[data-empty] {
      &:before{
        display: none;
      }
    }
  }
}

.pure-modal{
  .ant-modal-content{
    padding: 0;
  }
  .ant-modal-close{
    top: 15px;
  }
}

.dark .content {
  h1,h2,h3,h4,h5{
    color: rgba(255,255,255,.9);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dark .content{
  caret-color: #60a5fa;
}
.content {
  color: var(--md-text);
  font-family: -apple-system, system-ui,ui-sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  outline: none;
  tab-size: 4;
  caret-color: #3b82f6;
  overflow: hidden;
  position: relative;
  line-height: 1.625em;
  white-space: normal;
  .link{
    text-decoration: underline;
  }
  &.line-height-compact {
    line-height: 1.5em;
    .check-item{
      height: 1.5em;
    }
  }
  &.line-height-loose{
    line-height: 1.9em;
    .check-item{
      height: 1.9em;
    }
  }
  .mermaid-container{
    @apply mb-4 cursor-default select-none py-3 bg-gray-500/5 rounded flex justify-center;
  }
  [data-fnc="fnc"] {
    font-size: .85em;
    @apply dark:text-teal-500 align-super px-0.5 dark:hover:text-teal-600 duration-200 text-teal-600 hover:text-teal-500;
  }
  [data-fnd="fnd"] {
    @apply dark:text-lime-500 px-0.5 dark:hover:text-lime-600 duration-200 text-lime-600 hover:text-lime-500;
  }
  pre {
    margin: 0;
    overflow-x: auto;
  }
  .high-text{
    border-radius: 1px;
    background: var(--md-high);
  }
  table, th, td {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    @apply border-gray-300/80 dark:border-gray-300/20;
  }

  table {
    width: 100%;
    position: relative;
    font-size: 0.9em;
  }
  .m-table{
    margin-bottom: 1em;
  }
  th, td {
    vertical-align: top;
    padding: 0.375em 0.75em;
    text-align: left;
  }

  th {
    @apply dark:bg-gray-200/5 bg-gray-200/30;
  }

  p {
    margin-bottom: 0.5em;
  }
  h2,h3,h4,h5,h6{
    position: relative;
    color: rgba(0,0,0,.8);
  }
  h1 {
    font-size: 2em;
    line-height: 1.5em;
    margin: 0.6em 0;
    font-weight: 700;
    padding-bottom: 0.15em;
    &:first-child{
      margin-top: 0;
    }
  }

  h2 {
    font-weight: 600;
    font-size: 1.6em;
    margin: 0.6em 0;
  }
  h3 {
    font-weight: 600;
    font-size: 1.3em;
    margin: 0.5em 0;
  }

  h4 {
    font-weight: 500;
    font-size: 1.2em;
    margin: 0.5em 0;
    line-height: 1.2;
  }
  a {
    font-weight: 500;
  }
  li{
    margin-bottom: 0.2em;
  }
}

.inline-code {
  background: var(--md-bg-mute);
  border: 1px solid var(--md-bg-mute);
  font-size: .85em;
  border-radius: 4px;
  padding: 2px 5px;
  position: relative;
  word-break: break-word;
  top: -1px;
}

.t-handle {
  @apply w-5 h-5 cursor-default duration-200 dark:hover:bg-gray-300/20 hover:bg-gray-300/40 rounded-sm flex items-center justify-center;
}

blockquote {
  padding: 2px 14px 2px 20px;
  position: relative;
  @apply dark:text-gray-400 text-gray-500;
  &:not(:first-child) {
    margin-top: .8em;
  }
  &:not(:last-child) {
    margin-bottom: .8em;
  }
  p {
    &:not(:last-child){
      margin-bottom: 0.2em !important;
    }
  }
  &:before {
    content: '';
    left: -1px;
    top: 2px;
    height: calc(100% - 4px);
    @apply block absolute dark:bg-gray-400 bg-gray-500 w-1 rounded;
  }
}
[data-be]:last-child {
  margin-bottom: 0;
}
[data-be="list"] {
  margin-bottom: 0.3em;
  padding-top: 5px;
  padding-bottom: 5px;
}
.m-list {
  list-style: disc;
  padding-left: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
  li::marker{
    @apply text-gray-500;
  }
  &[data-task] {
    list-style: none;
    padding-left: 5px;
  }
  li:not(.task){
    >:first-child{
      .drag-handle{
        padding-left: 2px;
        padding-right: 18px;
        left: -44px !important;
        top: .35em !important;
      }
    }
  }
  li.task >:nth-child(2) {
    .drag-handle{
      padding-left: 2px;
      padding-right: 10px;
      left: -50px !important;
      top: .35em !important;
    }
  }
}

ol.m-list {
  list-style: decimal;
}

.m-list-item {
  position: relative;
  word-break: break-all;
  &.task {
    padding-left: 24px;
  }

  .check-item {
    display: flex;
    align-items: center;
    position: absolute;
    user-select: none;
    height: 1.625em;
    left: 0;
    top: 0;
    z-index: 10;
  }
  p:not(:last-child){
    margin-bottom: 0.2em;
  }
}
.katex-container {
  .newline{
    margin: 4px 0;
  }
}
.m-hr {
  height: 1px;
  @apply dark:bg-gray-200/30 bg-gray-300;
  margin: 2em 0;
  border: none;
}

.code-highlight {
  @apply border border-black/10 dark:border-gray-200/10 dark:text-gray-400 text-gray-500;
  background: var(--md-code-bg);
  border-radius: 4px;
  &.tab-2{
    tab-size: 2;
  }
  &.tab-4{
    tab-size: 4;
  }
  font-size: 0.85em;
  position: relative;
  line-height: 1.62em;
  direction: ltr;
  &.frontmatter{
    &:before{
      top:2px;
      content: 'Front Matter';
      width: 100%;
      height: 22px;
      color: rgba(255, 255, 255, .5);
      position: absolute;
      z-index: 10;
      left: 0;
      padding-left: 10px;
      font-size: 12px;
      @apply border-b border-black/50;
    }
    .code-line-list{
      top: 24px;
      padding-top: 8px;
      height: calc(100% - 24px);
    }
    pre {
      position: relative;
      padding-top: 32px;
    }
  }
  pre{
    white-space: pre;
    padding: 10px 0;
    position: relative;
  }
  code{
    width: fit-content;
    display: inline-block;
    min-width: 100%;
    word-wrap: normal;
    word-spacing: normal;
    word-break: normal;
    hyphens: none;
  }
  &.dark {
    .code-line-list{
      @apply text-gray-100/50 border-gray-300/20;
    }
    .ant-select-selector{
      color: #e5e7eb !important;
      border-color: rgba(229,231,235,.3);
    }
  }
  &.light {
    .code-line-list{
      @apply text-black/50 border-black/10;
    }
    .ant-select-selector{
      color: #4b5563 !important;
      border-color: rgba(75,85,99,.3);
    }
  }
  .code-line-list{
    counter-reset: step;
    counter-increment: step 0;
    z-index: 10;
    padding-top: 10px;
    width:32px;
    @apply border-r top-0 left-0 h-full text-black/50 absolute overflow-hidden;
    > div{
      &:before{
        content: counter(step);
        counter-increment: step;
      }
      font-size: .93em;
      left: 0;
      top: 0;
      height: 23px;
      line-height: 23px;
      width: 32px;
      text-align: center;
    }
  }
  &.num {
    padding-left: 32px;
    code{
      padding-left: 12px;
    }
  }
  code{
    padding-left: 20px;
    padding-right: 20px;
  }
  .code-line {
    position: relative;
    height: 23px;
    line-height: 23px;
  }

  .lang-select {
    width: 100px;

    .ant-select-selector {
      background: transparent;
    }

    input {
      text-align: center;
    }
  }
}

[data-be]{
  position: relative;
}
.move-mark{
  @apply h-0.5 dark:bg-white/50 bg-black/50 left-0 z-10 block absolute rounded top-0 duration-200;
}

.drag-handle {
  @apply absolute opacity-0 flex items-center select-none;
  padding-left: 2px;
  padding-right: 6px;
  left: -24px;
}
.drag-icon{
  @apply w-4 h-4 dark:text-gray-500 dark:hover:text-gray-300 text-gray-400 hover:text-gray-500 cursor-grab;
}
.drag-el:hover {
  >.drag-handle {
    opacity: 1;
  }
}
.inline-code-input{
  line-height: 1.3em;
  @apply rounded-sm caret-sky-500 text-gray-400;
  &:before, &:after{
    content: '$';
    font-size: 1em;
    @apply dark:text-gray-400 text-gray-500;
  }
  &:before{
    margin-right: 2px;
  }
  &:after{
    margin-left: 2px;
  }
}
.katex-display{
  margin: 0 !important;
}

.view {
  .drag-handle {
    display: none;
  }
  [data-be="link"]{
    pointer-events: none;
  }
}
.media-frame{
  @apply relative border-2 border-transparent block;
  .img-drag-handle{
    display: none;
    position: absolute;
    cursor: col-resize;
    border-radius: 100%;
    width: 9px;
    height: 9px;
    background: var(--bg);
    @apply border border-gray-500 dark:border-gray-400;
    &.t1{
      left: -5px;
      top: 50%;
      margin-top: -5px;
    }
    &.t2{
      right: -5px;
      top: 50%;
      margin-top: -5px;
    }
  }
  &.active{
    @apply border-blue-500/60;
    .img-drag-handle{
      display: inline-block;
    }
  }
}

.dark .win {
  ::-webkit-scrollbar-thumb{
    background-color: #52525b;
  }
}
.win{
  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #a1a1aa;
    border-radius: 20px;
  }
}
