@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar{
  &::-webkit-scrollbar {
    display: none;
  }
}

.high-el{
  background-color: rgba(6,182,212,.3);
  border-radius: 4px;
}

.drag-nav{
  -webkit-app-region: drag;
}

.ant-btn > .anticon{
  display: inline-flex;
}

[contenteditable="true"] {
  outline: none;
}

.anticon[tabindex]{
  cursor: default;
}

.code-highlight{
  .ant-select-selection-search-input {
    color: white !important;
  }
}

.move {
  cursor: col-resize;
  .width-duration {
    transition: none;
  }
}
