@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scrollbar{
  &::-webkit-scrollbar {
    display: none;
  }
}

.high-el{
  background-color: rgba(6,182,212,.3);
  border-radius: 4px;
}

.drag-nav{
  -webkit-app-region: drag;
}

.ant-btn > .anticon{
  display: inline-flex;
}

[contenteditable="true"] {
  outline: none;
}

.anticon[tabindex]{
  cursor: default;
}

.code-highlight{
  .ant-select-selection-search-input {
    color: white !important;
  }
}

.move {
  cursor: col-resize;
  .width-duration {
    transition: none;
  }
}

.link{
  @apply text-sky-500 duration-300 hover:text-sky-600;
}

.ant-popover-inner, .ant-dropdown-menu{
  @apply border border-gray-200/20;
}
.ant-btn-primary {
  background-color: #0ea5e9;
}

.ellipsis-10{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}
.animate-show{
  animation: show .1s .3s forwards;
}
.pdf .code-highlight pre{
  white-space: pre-wrap;
  word-break: break-all;
}
@keyframes show {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
